.row.py-5
  .col
    .container-fluid.text-left
      .card
        .card-header
          .row
            %h2.col-10= t('.edit_customer_attributes')
            .col
              %ul.nav
                %li.nav-item
                  %a.nav-link= link_to t('.back'), customer_path(@customer)
            .col
              %ul.nav
                %li.nav-item
                  %a.nav-link= link_to t('.delete'), customer_path(@customer), method: :delete,
                  data: { confirm: t('.delete_data_confirm') }, class: 'text-danger'
        .card-body
          = render 'form'
