.row
  .col
    .container-fluid.text-left
      .card
        .card-header
          .row
            %h2.col-11= t('.edit_customer_attributes')
            .col
              %ul.nav
                %li.nav-item
                  %a.nav-link= link_to t('.back'), customer_path(@customer)
        .card-body
          = render 'form'
